* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #1D1D1D;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
}

/* header section styles */
.main__header {
  width: 100%;
  height: 72px;
  display: flex;
  margin: auto;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  justify-content: center;
}

.header__info {
  display: inherit;
  align-items: center;
  justify-content: space-between;
  width: 956px;  
}
.header__order__form {
  width: 391px;
  height: 40px;
}

.header__order__form p {
  color: #626262;
}

.header__buttons {
  width: 176px;
  height: 40px;
}

.header__buttons > button{
  width: 80px;
  height: 100%;
  text-transform: capitalize;
  border-radius: 2px;

}
.header__registration {
  width: 232px;
}

.header__registration img {
  margin-right: 5%;
}
.signin {
  background-color: #fff;
  border: 1px solid #E0E0E0;
}

.register {
  background-color: #262626;
  color: #ffff;
}

.register,
.signin {
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
}

.header__logo img {
  width: 120px;
  height: 14px;
  margin-right: 30px;
}

input {
  font-size: 16px;
  line-height: 24px;
  border-radius: 2px;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
}

.from {
  width: 65px;
  height: 100%;
  text-align: center;
}

.header__order__location {
  width: 290px;
  height: 40px;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
}

.header__order__location input {
  border: none;
}

.header__order__location img {
  margin: 0 12px;
}
/* header section styles */

.mobile__order__form {
  display: none;
}

.main__content {
  width: 956px;
  margin: 0 auto;
}

.main__content__searchbar {
  margin-top: 40px;
  width: 100%;
  height: 39px;
  border-bottom: 1px solid rgba(117,117,117,0.3);
  font-size: 16px;
  line-height: 24px;
}

.main__content__searchbar img {
  width: 22px;
  margin-right: 5px;
}

.scale-input {
  width: 240px;
  color:#626262;
  opacity: 0.5;
  position: relative;
  top: -4px;
  font-size: 16px;
  line-height: 24px;
  border:none;
}

.content__title {
  font-size: 22px;
  line-height: 34px;
}

.restraunt__card {
  width: 308px;
  height: 366px;
  margin-bottom: 16px;
}
.restraunt__card img {
  margin-bottom: 10px;
}
.restraunt__card > p {
  margin-top: 4px;
}

.restraunt__adress {
  font-size: 16px;
  line-height: 24px;
}

.restraunt__kitchen {
  font-size: 14px;
  line-height: 21px;
  color:#626262;
}

.delivery__time{
  font-size: 13px;
  line-height: 21px;
}

.restraunts {
  flex-wrap: wrap;
  padding-bottom: 64px;
}

.content__title {
  margin-top: 56px;
  margin-bottom: 16px;
}

.main__footer {
  background-color: #262626;
}

.footer__top__section {
  padding-top: 56px;
  height: 60px;
  border-bottom: 1px solid rgba(255,255,255,0.4);
}

.footer__top__section img {
  width: 191px;
  height: 20px;
}

.select-lang {
  width: 180px;
  height: 38px;
  color: #FFF;
    -webkit-appearance: none;
    -moz-appearance: none;
  appearance: none;
  background: url("./images/arrow-down.png") 14px/14px no-repeat;
  background-position-x: 96%;
  margin-left: 16px;
  border: none;
}

option {
  font-size: 13px;
  line-height: 15px;
}

.select__wrapper {
  display: flex;
  align-items: center;
  width: 176px;
  height: 40px;
  border-radius: 2px;
  margin-bottom: 33px;
  background-color: #3B3B3B;
}

.select__wrapper img {
  margin-left: 16px;
}

.uber-eats{
  color: #ffff;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
}

span {
  color: #49A144;
}

.social__block {
  width: 90px;
  padding-bottom: 59px;
}

.footer__middle__section {
  border-bottom: 1px solid rgba(255,255,255,0.4);
  display: flex;
  margin-top: 32px;
}

.infoblock2__list a, .infoblock3__list a {
  color: #ffff;
  font-size: 13px;
  line-height: 15px;
}

.middle__section__infoblock2 {
  width: 50%;
}
.middle__section__infoblock1,
.middle__section__infoblock3 {
  width: 33.3%;
}

.middle__section__infoblock2 {
  margin-left: 15px;
}

.middle__section__infoblock3, .middle__section__infoblock2,
.copyright-inf {
  margin-left: 13px;
}

footer {
  width: 100%;
}

.footer__content {
  width: 956px;
  margin: 0 auto;
}

.infoblock__item {
  margin-top: 4px;
  margin-bottom: 20px;
}

.footer__markets__section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 956px;
  border-bottom: 1px solid rgba(255,255,255,0.4);
}

.markets__wrapper {
  width: 295px;
}

.footer__bottom__section {
  display: flex;
  align-items: center;
  height: 93px;
  color: #ffff;
}

.totop {
  position: relative;
  left: 6%;
  bottom: 20px;
  width: 80px;
  height: 80px;
  background-color: #59BD5A;
  border-radius: 2px;
}

.totop img {
  position: inherit;
  left: 40%;
  top: 32%;
} 

.copyright-inf {
  width: 100%;
}

.copyright-inf p {
  color:#fff;
  font-size: 11px;
  line-height: 13px;
}

.center-between {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.between {
  display: flex;
  justify-content: space-between;
}

.middle {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
}

@media all and (min-width: 640px) and (max-width: 1023px) {
  .header__info,
  .main__header,
  .footer__content,
  .main__footer,
  .main__content,
  .footer__markets__section {
    width:768px;
    margin: 0 auto;
  }


  .restraunts,
  .restraunts_section,
  .main__content__searchbar {
    width:99%;
    margin:0 auto;
  }

  .main__content__searchbar {
    margin-top: 40px;
  }

  .copyright-inf {
    width: 100%;
  }

  .totop {
    position: relative;
    left: -14px;
    bottom: 16px;
  }

  .restraunt__card {
    width: 49%;
    padding-bottom:40px
  }

  .restraunt__card img {
    width:100%;
  }

  .header__order__location {
    width: 213px;
  }
  .from {
    width: 57px;
  } 

  .header__order__form {
    width: 304px;
  }

  .header__logo {
    padding-left:1%;
    width: 105px;
  }

  .header__registration {
    margin-left: 40px;
  }

  .header__order__location input {
    width: 150px;
  }

  .middle__section__infoblock1 {
    margin-left:1%;
  }

}

@media all and (min-width: 320px) and (max-width: 639px) {
  .main__header,
  .main__content,
  .main__footer,
  .footer__content,
  .footer__markets__section {
    width:320px;
    margin: 0 auto;
  }

  .header__buttons > button {
    width: 72px;
  }

  .header__registration {
    width: 156px;
  }

  .header__buttons {
    width: 156px;
  }

  .header__order__form,
  .header__registration img  {
    display: none;
  }

  .header__info,
  .main__content__searchbar,
  .restraunts,
  .mobile__order__form,
  .restraunts_section,
  .content__title {
    width: 96%;
  }

  .mobile__order__form {
    display:flex;
    justify-content:space-between;
  }

  .header__order__location {
    display: flex;
    width: 225px;
  }

  .from {
    height: 40px;
  }

  .to {
    width: 150px;
  }

  .from,
  .to {
    font-size: 13px;
    line-height: 24px;
  }

  .form__title {
    font-size: 11px;
    line-height: 13px;
    color: #626262;
    padding-bottom: 8px;
    padding-top: 24px;
  }

  .scale-input {
    font-size: 13px;
  }

  .content__title {
    margin-top:40px;
    margin-bottom: 14px;
  }

  .restraunts,
  .mobile__order__form {
    margin: 0 auto;
  }

  .restraunt__card{
    height: 356px;
    width: 308px;
  }

  .restraunt__card img {
    width: 100%;
  }

  .middle__section__infoblock3 {
    padding-bottom: 20px;
  }

  .middle__section__infoblock1 {
    margin-left:3%;
  }

  .footer__middle__section,
  .copyright-inf {
    display:  block;
  }

  .copyright-inf p {
    padding-top: 24px;
  }

  .footer__bottom__section {
    padding-top: 16px;
    height: 100%;
  }

  .totop {
    left:70%;
    bottom:24px;
    width: 64px;
    height: 64px;
  }

  .markets__wrapper {
    width: 256px;
  }

  .markets__wrapper img:first-child{
    width: 107px;
  }

  .markets__wrapper img:last-child{
    width: 124px;
  }

  .social__netwoks {
    margin-left:4%;
  }

  .main__content__searchbar,
  .content__title {
    margin: 0 auto;
    padding-top: 40px;
  }
}